{% extends 'zoowikipedia/base.html' %}
{% load zoowikipedia_tags %}

{% block sidebar %}
    <td valign="top" class="left-chapters">
        <ul id="leftchapters">
            {% if ordo_selected == 0 %}
                <li class="selected">Все категории</li>
            {% else %}
                <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}

            <!--									Тег, выводящий классы на sidebar слева-->
            {% show_ordoes ordo_selected=ordo_selected %}
        </ul>
    </td>
{% endblock %}

{% block content %}

    <ul class="list-articles">
        {% for o in ordo %}
        <li>
            <br>
            <div class="link-edit-post"><a href="edit_ordo/{{o.id}}">Изменить</a></div>
            <div class="circle"><a href="delete_ordo/{{o.id}}">x</a></div>
            <div class="clear"></div>

            <h2>{{o.name}}</h2>
            {% autoescape on %}
            {{o.info|linebreaks|truncatewords:50}}
            {% endautoescape %}
            <div class="clear"></div>

            <p class="link-read-post"><a href="{{ o.get_absolute_url_ordo1 }}">Читать пост</a></p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


